---
export const prerender = true
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>depot.ai</title>
  </head>

  <body class="bg-radix-mauve-black text-radix-mauve12">
    <div class="mx-auto my-16 max-w-prose">
      <h1 class="text-6xl">🔮 depot.ai</h1>

      <div class="mt-16">
        Easily embed machine learning models in your <code class="text-radix-amber11 bg-radix-amber3 p-1 rounded -m-1">
          Dockerfile
        </code>
      </div>
    </div>
  </body>
</html>
